/* Improve touch performance */
.list .item-link.active-state, .list .list-button.active-state, .button.active-state,
  label.item-checkbox.active-state, label.item-radio.active-state,
  a.link.active-state:before {
  transition: none;
}

.md .theme-dark .list .item-footer {
  color: rgba(255,255,255,.5);
}

.md .navbar:after, .md .toolbar:after {
  content: none;
}